<div class="card border-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Stupid Coaching</div>
  <div class="card-body">
    <h4 class="card-title"><%= @question %></h4>
    <p class="card-text"><%= @answer %></p>
  </div>

<%= link_to "Ask another question", ask_path %>
